{% extends 'base.html.twig' %}

{% block title %}Business Finder - Results for "{{ search }}"{% endblock %}

{% block body %}
    <div class="row mt-4">
        <h2 class="col-md-12 text-center">Business Finder</h2>
    </div>

    <div class="row mt-4 mb-3 ml-3">
        <h3 class="col-md-12 text-left">Results for "{{ search }}"</h3>
    </div>

    {% for result in results %}
    <div class="row">
        <div class="col-sm-1 text-right font-weight-bold">
            {{ results.getPaginationData.firstItemNumber + loop.index - 1 }}.
        </div>
        <div class="col-sm-11 text-left font-weight-bold">
            <a class="text-dark" href="{{ path('business_about', {'id': result.id}) }}">{{ result.Title }}</a>
        </div>
    </div>
    <div class="row mb-2">
        <div class="offset-sm-1 col-sm-11 small">
            in {% for category in result.Categories %}{{ category.Name }}{% if not loop.last %}, {% endif %}{% endfor %}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">No business found</div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col text-center navigation">
            {{ knp_pagination_render(results) }}
        </div>
    </div>

{% endblock %}